*.pyc
Makefile
Makefile.in.in
Makefile.in
configure
config.log
config.status
po/POTFILES
po/*.pot
*.gmo
install-sh
missing
autom4te.cache/
aclocal.m4
src/isr/isrDefs.py
data/insight-recorder.desktop
data/insight-recorder.desktop.in
po/.intltool-merge-cache
