[Desktop Entry]
Version=0.3
Name=Dawati user testing tool
Type=Application
Comment=Tool for creating observation videos of users performing tasks on desktop applications or other devices
Exec=dawati-user-testing
Icon=access
Categories=Development
