[Desktop Entry]
Version=0.3
Name=Insight recorder
Type=Application
Comment=Tool for creating observation videos of users performing tasks on desktop applications or other devices
Exec=insight-recorder
Icon=access
Categories=Development;AudioVideo;Recorder
